
{% extends "base.html" %}

{% block title %}About me - Abhi's Gallery{% endblock %}

{% block content %}
    <div class="about-container mx-auto">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='me.jpg') }}" alt="My Photo" class="img-fluid rounded">
            </div>
            <div class="col-md-8">
                <h1>About Me</h1>
                <p>Hello, I'm Abhi, a passionate photographer with a keen eye for capturing the beauty in everyday moments.
                    Through my lens, I strive to tell stories and create visual experiences that resonate with people.
                    <h4>My Journey</h4>
                <p>My journey into photography began when I first got my smartphone on mt 10th standard. That smartphone had a 13MP camera, not enough pixels for good photo but more than enough for a boy to start a new hobby. Over the years, I've honed my skills and developed a unique style that blends creativity with technical expertise. Photography has taken me to amazing places and introduced me to incredible people, each experience enriching my perspective and fueling my passion.</p>
                <h4>What I Offer</h4>
                <p>I specialize in street and landscape photography, and I’m always excited to explore new genres and challenges. My goal is to provide high-quality, professional photos that capture the essence of the moment, preserving memories that can be cherished forever.</p>
                <h4>Why Choose Me?</h4>
                <p>Passion and Dedication: Photography is not just a job for me; it’s my passion. I pour my heart into every project, ensuring each photo is a piece of art.
                Attention to Detail: I believe that the smallest details make the biggest difference. I pay close attention to every aspect, from composition to lighting, to deliver exceptional results.
                Personalized Experience: I understand that every client is unique, and I tailor my approach to meet your specific needs and preferences. Your satisfaction is my top priority.</p>
                <p>Let's Connect</p>
                <p>I love connecting with people who share my passion for photography. Whether you’re looking for a professional photo session or simply want to chat about all things photography, I’d love to hear from you. Feel free to
                    <a href="{{ url_for('contact') }}" class="text-decoration-none">Contact Me.</a>
                Thank you for visiting my site. I look forward to capturing beautiful moments with you!</p>
                <p>Follow me on social media:</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/@avjt8" target="_blank" class="btn btn-outline-info btn-sm">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com/_.avjt._" target="_blank" class="btn btn-outline-danger btn-sm">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/Avjt2214" target="_blank" class="btn btn-outline-dark btn-sm">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
